<div class="fixed bottom-0 left-0 z-50 lg:hidden bg-transparent w-full h-16 px-3 pb-1">
  <div class="bg-terceary border border-[#393a3b] w-full h-full rounded-xl">
    <ul class="flex justify-between items-center px-2 w-full h-full">
      <li class="">
        <a
          href="home"
          [ngClass]="url == '/home' ? 'text-primary' : 'text-white'"
          class="p-2 text-2xl">
          <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li class="">
        <a [ngClass]="url == '/carrito' ? 'text-primary' : 'text-white'" href="carrito" class="p-2 text-2xl">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
      <li  class="flex justify-center items-center w-[60px] h-[60px]">
        <a href="home" class="w-[50px] h-[50px] flex justify-center items-center shadow-2xl text-white -tracking-[4px] text-3xl bg-primary rounded-full font-bold">
          FD
        </a>
      </li>
      <li class="">
        <a [ngClass]="url == '/search' ? 'text-primary' : 'text-white'" href="search" class="p-2 text-2xl">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </li>
      <li class="">
        <a [ngClass]="url == '/order-history' ? 'text-primary' : 'text-white'" href="order-history" class="text-white p-2 text-2xl">
          <i class="fa-solid fa-grip-vertical"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
