<nav class="fixed z-50 h-14 w-full backdrop-blur-sm bg-transparent flex justify-between px-3 items-center">
  <button>
    <app-logo></app-logo>
  </button>
  <ul class="hidden lg:flex">
    <li>
      <a [ngClass]="url == '/home' ? 'text-primary' : 'text-white'" href="home" class="hover:text-primary text-white font-bold text-lg p-3">Home</a>
    </li>
    <li>
      <a [ngClass]="url == '/order-history' ? 'text-primary' : 'text-white'" href="order-history" class="hover:text-primary text-white font-bold text-lg p-3">Order History</a>
    </li>
    <li>
      <a [ngClass]="url == '/search' ? 'text-primary' : 'text-white'" href="search" class="hover:text-primary text-white font-bold text-lg p-3">Search</a>
    </li>
  </ul>


  <button class="hidden text-2xl w-10 h-10 border border-[#393a3b] bg-terceary rounded-xl text-primary lg:flex justify-center items-center">
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
  <button class="text-2xl py-1 px-2 border border-[#393a3b] bg-terceary rounded-xl text-primary lg:hidden">
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>
