<div class="pl-2 mt-5 px-2">
  <div class="flex flex-col md:flex-row md:flex-wrap md:justify-center overflow-y-scroll scroll">
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
    <app-card-producto></app-card-producto>
  </div>
</div>
